* {
    font-family: poppins;
    
    


}


html, body{
     overflow-x: hidden;
}
header {
    background-color: #FFFFFF;
    /* color:white; */
    max-width: 100vw;
}

.flex-container1 p a {
    color: black;
    text-decoration: none;
}

.navigation {
    list-style: none;
}


.flex-container1 {
    display: flex;
    flex-flow: wrap row;
    gap: 70px;
    margin-left: 30px;

}

.flexSection2{
    display: flex;
    /* width:800px; */
    justify-content: space-between;
    gap:70px;
   flex-wrap: wrap;
    
}

.aboutWrite{
    
}



/* .flex-2{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:100px;
    flex-wrap:wrap;
    
}
 

.aboutWriteimg {
    flex: 1;
    display: flex;
    justify-content: center;
}  */

.aboutWrite{
    flex:1;
    min-width:180px;

    
    
} 



.flex-container1 a:hover {
    color: #e0e0e0;
}

main {
    min-height: 100vh;
    max-width: 100vw;
    color: #2F3A40;

    /* background-color: #F7F7F7 ;
    color:#2F3A40;
    margin-top:0;
    padding-bottom: 50px; */
}

#christmas-tree {
    float: right;
    border-radius: 10px;
    border:0;
    width: 450px;
    max-height: 500px;
    position: relative;
    right: 50px;
    bottom: 850px;

}

.text {
    max-width: 650px;
    margin-left: 30px;
    margin-right:20px;
    /* text-indent: 40px; */
    
    line-height: 1.8;
    padding-bottom: 20px;
}

.heading {
    margin-left:30px;
    margin-right:20px;
    padding-top: 30px;
}

.salvationButton {
    font-size: 15px;
    color: red;
    font-style: italic;
    margin-left: 30px;
    margin-right:20px;


}

.salvationButton button {
    background-color: #C0392B;
    border: 0px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

.salvationButton button:hover {
    background-color: #d64d4d;

}

#section1 {
    background-color: #F7F7F7;
    color: #2F3A40;
    margin-top: 0;
    padding: 10px 10px 50px 0px;
}

.aboutMe {
    max-width: 600px;
}

.sec2Txt{
   margin-left:-5px;
    margin-right:-20px;

}

#section2 {
    background-color: #FFFFFF;
    padding: 50px 50px 50px 40px;
    
}

#writer_picture {

    
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}


#section3 {
    margin-top: 100px;
    /* margin-left:40px; */
    background-color: #F2F2F2;
    padding-top: 10px;
    max-height: 150vh;
}

.flex0{
    margin-bottom:20px;
}

.formSection {
    text-align: center;
}

.input-box {
    max-width: 400px;
    width: 400px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    outline: none;
    


}



#message {
    vertical-align: top;
    height: 400px;
    padding-top: 15px;
}

.inputText {
    margin-right: 300px;


}

.question {
    margin-left: 25px;
}

.email-label {
    margin-left: -45px;
}

.heading1 {
    margin-left: 400px;
    width: 600px;
    white-space: nowrap;

}

/* #section3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
} */


#section3 button {
 
    background-color: #C0392B;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    padding: 6px 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-right: 375px;
  

    

}

#section3 button:hover {
    background-color: #d64d4d;
}

#header-image {
    width: 50px;
    height: 50px;
    /* margin-right:50px; */
}


.questionCharLimit {
    color: red;
    font-style: italic;
    margin-right: 200px;
    margin-bottom: 0;
    margin-top: -2px;
    display:none;
    font-size: 12px;
}

.questionCharLimit.visible {
    display: block;
}



.FnameLim {
    color: red;
    font-style: italic;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-top: -2px;
    font-size: 12px;
    display:none;

}

.FnameLim.visible {
    display:block;
}

.LnameLim {
    color: red;
    font-style: italic;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-top: -2px;
    font-size: 12px;
   display:none;

}

.LnameLim.visible {
    display:block;
}

.input-box.redBox{
    border: 1px solid red;
    }

.emailLim {
    color: red;
    font-style: italic;
    margin-right: 320px;
    margin-bottom: 0px;
    margin-top: -2px;
    font-size: 12px;
    display:none;

}

.emailLim.visible {
    display:block;
}

.flex-container2{
display: flex;
flex-flow:column;
gap:-20px;

}

.error{
    min-width:200px;
    
}




@media (max-width: 450px) {
    html, body {
  overflow-x: hidden;
  width: 100%;
}

    .inputText{
        margin-right:130px;
        margin-bottom: 0;

    }

    .input-box{
        max-width:200px;
        
    }


/* #submitButton{
   position:relative;
   left:100px;
} */

.flex-container1{
    flex-flow: wrap column;
    gap:5px;
}

#christmas-tree{
    /* position:relative;
    top:-20px;
    padding:20px;
    margin:20px;
    /* left:20px; */
    /* width: 150px; */ 
    display:none;
    
}


.error.visible{
display:inline-flex;
margin-left:20px;
font-size:10px;
    margin-right:40px;
}


#section3 button{
    margin-right:172px;
}

#writer_picture{
    width:150px;
    height:150px;
  
}

#section3 {
    margin-top: 20px;
}


}


/* 
 @media (max-width: 450px){
    .text {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .heading1 {
        margin-left: 5px;
        width: 95%;
        white-space: normal;
    }

    #christmas-tree {
        width: 200px;
        float: none;
        display: block;
        margin: 20px auto;
        position: relative;
        bottom: 0;
        right: 0;
    }

    #writer_picture {
        width: 120px;
        height: 120px;
        right: 10px;
        bottom: -300px;
    }

    .input-box {
        width: 90%;
        max-width: 90%;
        margin: 10px auto;
    }

    #message {
        height: 200px;
    }

    #section3 button {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-container1 {
        flex-flow: column wrap;
        gap: 20px;
        margin-left: 0;
    }
} */